body {
    background-image: url(image/bg_Argyle.jpg);
    text-align: center;
    line-height: 30px;
}
.body{
    background-color: #ffffff;
    margin: 10px 400px 200px 400px;
    border: 1px solid #c9008d;
    box-shadow: 2px 2px 4px 0 rgb(88, 88, 88);
    border-radius: 20px;
    padding: 50px;
    
}
.m{
    border: 1px solid #afadad;
    border-radius: 5px;
    padding: 5px;
}
.se{
    text-align: center;
}
.ta{
    display: flex;
}
.wa{
    margin: auto;
    border: 1px solid #afadad;
    border-radius: 5px;
    padding: 5px;
}
.name{
    width:  30%
}